<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>特徴の新規作成</h1>
    </div>
  </div>

  <%= render 'form', feature: @feature %>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= link_to '戻る', features_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>