<div class="container mt-3">
  <p><%= notice %></p>

  <div class="card">
    <div class="card-header">
      <h1 class="card-title">特徴</h1>
    </div>

    <div class="card-body">
      <p class="card-text">
        <h4 class="card-text">店舗特徴内容: <%= @feature.feature_name %></h4>
      </p>

      <br>

      <%= link_to 'Edit', edit_feature_path(@feature), class: 'btn btn-outline-primary' %>
      <%= link_to 'Back', features_path, class: 'btn btn-outline-secondary' %>
    </div>
  </div>
</div>



